.container {
  margin: 0 auto;
  width: 768px;
}

.top-nav {
  background-color: black;
  position: fixed;
  width: 100%;
}

nav {
  /*height: 50px;*/
  /*left: 0;*/
  /*margin: 0;*/
  /*text-align: center;*/
 
  

}
/* alinea las opciones del menú en forma de lista hacia la izquierda
(inicio, nosotros,blog, contacto)*/
 #logo {
  display: inline-block;
  height: 46px;

 }

 ul {
  display: inline-block; 
  margin-top: 0;
  margin-left: 307px;
  position: relative;
  /*modifica la  distancia del menu de arriba hacia abajo*/
  top: -35px;
 
 
 }
/* Crea solo una linea con las opciones del menú */
 li {
  display: inline-block;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 10px;
  padding-bottom: 10px;
  



}

a {
/*cambia el color de las letras del menú*/
color: white;
text-decoration: none;

}
.content {
  
  /* Define la distancia entre la barra y el texto*/
  clear: both;
  padding-top: 200px;

}

div > strong > i {
  padding-top: 20px;
  padding-bottom: 20px;
}

.top-nav{
  height: 50px;
}
